* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
   --gradient-background: linear-gradient(to right, #055a7253, #29a1bc);
   --primary-textcolor: linear-gradient(to right,  #06384653, #16505d);
   --font-size-Navbar: 25px;
   --border:5px solid #ccc;



}
/* .background-color {
    background: var(--gradient-background);
    width: 98.5dvw;
    height: 95dvh;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    margin-left: 60px;
    
} */

.navbar-professional {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding: 10px;
    height: 9dvh;
    width: 98.5dvw;
    background: var(--gradient-background)
    
}
.navbar-professional ul {
    display: flex; 
    flex-direction: row;
    margin: 10px;
    font-size: var(--font-size-Navbar);
  
}

.navbar-professional ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
    /* color: var(--primary-textcolor); */

} 

a {
    text-decoration: none;
    color: rgb(211, 45, 16) !important;
    font-family: 'chakra petch', sans-serif;
   
}

.container-profile {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
   justify-content: space-evenly;
    height: 40dvh;
    width: 98.5dvw;
    background-color: bisque;
}

#profile-picture {
    /* position: absolute; */
    border-radius: 25px;
    max-height: 500px;
    /* background-color: rgb(45, 16, 126); */
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.me-about {
    margin: 25px;
    width: 40dvw;
    padding: 3%;
    border: var(--border);
    padding: 10px;
    align-self: center;
   
}

.container-portfolio {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    background-color: crimson
  
}
