 *{
    margin: 0;
    padding: 0;
    font-family: 'chakra petch', sans-serif;
    box-sizing: border-box;
}

:root {
   --gradient-background: linear-gradient(to right, #033a4953, #29a1bc);
   --gradient-background2: linear-gradient(to left, #b2587b53, #8a0a57);

   --font-size-Navbar: 1.5em;
   --border:5px solid #ccc;
   --ff-primary: 'Roboto', sans-serif;
}
header {
    max-width: 100dvw;
}
/* .background-image {
    background-image: url(./images/background-image.jpg);
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
} */
.navbar {
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding: 0;
    height: 50px;
    width: 100%;
    background-image: var(--gradient-background)
    
  
    /* position: sticky; */
}

 
.navbar ul {
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1.2em;
    margin: -1.2em;
    font-size: var(--font-size-Navbar); 
    position: fixed;
  
}

.navbar ul li {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    justify-items: center; 
    justify-content: center; 
    display: inline;
    margin: 0;
    list-style-type: none;

}

.navbar ul li:hover {
 background-color: #16505d
}  

a {
    justify-content: center;
    text-decoration: none;
    color: rgb(211, 45, 16) !important;
    font-family: 'chakra petch', sans-serif; 
} 
/* Pseudo element ::firstline is for adding a special style to the first line in a text */
p::first-line {
    font-variant: small-caps;
}

::selection {
color: firebrick;
background: #e6f0f2;
}

.container-profile {
    display: flex;
    height: 600px;
    width: 80dvw;
    margin-top: 4px;
    /* background-color: #00CDAC;  */
    background-image: var(--gradient-background);
    border-radius: 2%;
    padding: 25px 0 0 0;
    margin-left: 10rem; 
}

#profile-picture {
    position: absolute;
    border-radius: 25px; 
    margin:1.2rem;
    padding: 10px;
   background-image: var(--gradient-background);
}


.me-about {
    /* display: flex; */
    position: absolute;
    align-items: center;
    margin-top: 1.8rem;
    margin-left: 50em;
    margin-right: 40em;
    border-radius: 25px; 
    padding: 1.5em;
    background-image:var(--gradient-background);
    /* align-items: center;  */
    /* border: 4px outset #8b4513 */
   
}

.my-projects {
    text-align: center;
    margin:1.2em;
    height: 4dvh;
    font-size: 25px;
    margin-left: 30em;
    margin-right:30em;
    border-radius: 2px 
}
.my-projects #heading-project {
    color: firebrick;
    font-family: 'Courier New', Courier, monospace;   
    background-image: var(--gradient-background);
    border-radius: 12px;
}

h2 {
    display: inline-block;
    background-color: white;
    font-size: 25px;;
}

 p {
    background-color: whitesmoke;
    padding: 2em;
    margin: 1.1rem;
    border-radius: 15px;
    height: 20vh;
  
 }

 .page-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    width: 80%;
    height: 500px;
    margin-left: 10rem;
    margin-right:10rem; 
    gap: 0.3rem;
    margin-top: 0.3em; 
    margin-bottom: 0.3em;
    padding: 2%;
    border-radius: 10px;
 }
 .page-section:hover  {
    background-color: #16505d;
}

#proj-1 {
    outline: invert;
    /* align-items: center; */
    margin: 1.2em,1.2em,0,0;
    border-radius: 2px;
    background-color: white !important;
    
}

#proj-2 {
    outline: invert;
    /* align-items: center; */
    margin: 1.2em,1.2em,0,0;
    border-radius: 2px;
    background-color: white !important;
}
#proj-3 {
    outline: invert;
    /* align-items: center; */
    margin: 1.2em,1.2em,0,0;
    border-radius: 2px;
    background-color: white !important;
}
#proj-4 {
    outline: invert;
    /* align-items: center; */
    margin: 1.2em,1.2em,0,0;
    border-radius: 2px;
    background-color: white !important;
}
#proj-5 {
    outline: invert;
    /* align-items: center; */
    margin: 1.2em,1.2em,0,0;
    border-radius: 2px;
    background-color: white !important;
}
h3 {
    font-family: var(--ff-primary);
    font-weight: bold;

}
 .flex-container {
    display: flex;
    margin:1.2em;
    text-decoration: dotted;
    /* background-color: #00CDAC; */
    background-image: var(--gradient-background);
    border-bottom: 15px solid firebrick;
    border-radius: 8px;
    min-height: 10dvh;
 }
 .contact-me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 200px; 
    width: 88%;
    height: 100px;
    margin-left: 10rem;
    margin-right:10rem; 
    gap: 1rem;
   background-image: var(--gradient-background);
   border-radius: 10px;

 }
 .contact-me #image-size {
    max-width: 50px;
    max-height: 50px;
 }
h3{
    display: block;
    width: max-content;
}


 @media screen and (max-width: 980px){


 }

 @media screen and (max-width:760px){

 } 